<!DOCTYPE html>
<html>

<head>

   <meta charset="utf-8">

  <title>Log-in</title>

  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
  <link rel="stylesheet" href="style.css" media="screen" type="text/css" />
</head>

<body>

  <div class="login-card">
	<img width="275px" src="ehpessoa.png" />
	<br><br>	
  <form action="/" method="post">
    <input type="text" name="user" placeholder="usuário">
    <input type="password" name="pass" placeholder="senha">
    <input type="submit" name="login" class="login login-submit" value="confirmar">
  </form>

  <div class="login-help">
    <a href="https://reset.sbdinc.com/aims/ps/Default.aspx" target="_blank">esqueci minha senha da rede</a>
  </div>
</div>

  <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>

</body>

</html>